.directions {
  background-color: var(--white-color);
  padding-bottom: 94px;
}

.directions-main {
  padding-top: 0px;
  &__list {
    display: flex;
    align-items: center;
  }
  &__container {
    padding-bottom: 0px;
  }
}
