.footer {
  background-color: $footer-bacground-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-main__container {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: baseline;
}

.appeal,
.form-wrap__appeal {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;
  color: $white-color;
  display: block;
  margin-bottom: 20px;
}

.addres-wrap {
  display: block;
  margin-right: 70px;
  width: 100%;
}

.appeal-wrap {
  margin-right: 93px;
  // &__sosial-list:not(:last-child) {
  //   margin-right: 10px;
  // }
}

// .appeal-wrap__sosial-list:not(:last-child) {
//   margin-right: 10px;
// }
