.main__our-partners {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-partners-main__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.our-partner {
  display: inline-flex;
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 0px;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}
.our-partner__icon {
  fill: $icons-color;
  .our-partner:hover &,
  .our-partner:focus & {
    fill: $accent-color;
  }
}
